table {
    border-collapse: collapse;
    width: 100%;
}

.set-table {

    height: calc(100vh - 25vh);
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    margin: 2px;
}

.btn1 {
    width: 60%;
    cursor: pointer;
    color: black;
    border: 1px solid #106eea;
    background-color: #689fe8;
}